<div class="navigation-bar">
  <li><a href="index.html" id="0" class="active">FakeNews</a></li>
  <li><a href="../googleNews.html" id="1">RealNews</a></li>
</div>

<!--<button (click)="search($event)">A</button>-->

<input type="text" id="input" placeholder="Search titles...">

<select id="dropdown" (change)="search($event)">
  <option value="da">Date Ascending</option>
  <option value="dd">Date Descending</option>
  <option value="t">Title</option>
</select>

<app-news-list></app-news-list>
