$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: bisque;
$default-font-size: 16px;
$colors: darkslateblue mediumorchid seagreen steelblue;

@mixin base-text {
  font: $default-font-size $font-stack;
  font-family: "Roboto", sans-serif;
}

input {
  width: 98%;
  @include base-text;
  padding: 12px 10px 12px 10px;
  border: 1px solid #ddd;
}

body {
  @include base-text;
  color: $primary-color;
  background-color: $background-color;
}

h3 {
  text-shadow: 1px 1px 1px #ababab;
}

button {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background-color: transparent;
  outline: none;
  border: none;
}

article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  padding-left: 0;
  padding-bottom: 0;
  float: left;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-grow: 2;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

article:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  padding: 2px 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: stretch;
}

.ul-container {
  padding: 2px 16px;
}

select {
  width: 100%;
  @include base-text;
  padding: 12px 10px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 1%;
}

.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;

  li {
    float: left;
    border-right: 1px solid #bbb;

    &:last-child {
      border-right: none;
    }

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      &:hover {
        background-color: #111;
      }
    }
  }
}

.active {
  background-color: #04AA6D;
}
//
//@each $color in $colors {
//  .#{$color} {
//    background: $color;
//  }
//}
